:root {
    --clr-green:#029f58;
    --clr-deep-green:#007640;
    --clr-white:#FFFF;
    --clr-black:#000;
    --clr-orange:#ffbb62;
    --clr-gray:gray;
    --clr-copper:#fe8b61;
    --clr-chat-bg:#f0f0e6;
    --ff:'DM Sans', sans-serif;
    --fw-700:700;
    --fw-500:500;
    --fw-400:400;
    --fs-sm:Clamp(.7rem, 1.3vw + 1rem, 1.3vw);
    --fs-xl:Clamp(4vw, 8.9vw + 1rem ,8.9vw);
    --fs-md:Clamp(.7rem, 1.4vw + 1rem ,1.45vw );
    --fs-lg:Clamp(3vw, 5vw + 1rem,5vw);
    --fs-regular:Clamp(.8rem,1.35vw + 1rem , 1.35vw);
    --fs-header:Clamp(2.44vw,4.88vw + 1rem, 4.88vw);
    --fs-btn:Clamp(.6vw, 1.2vw + 1rem, 1.2vw);
    --lg-w:Clamp(4vw, 8vw + 1rem ,8vw);
    --btn-img-w:Clamp(9vw,18vw + 1rem,18vw);
    --phones-w:Clamp(45vw,90vw + 1rem, 90vw);
    --h1-w:Min(90%,30rem);
    --p-w:Min(90%,40rem);
    --btn-w:Clamp(3rem, 7vw + 1rem,7vw)
  ;
  }
  *{
      margin: 0;
      padding:0;
      box-sizing: border-box;
  }

  main{
      .black{
          display: flex;
          align-items: stretch;
          margin-top: -3.5vw;

          .text{
              width:50%;
              background: rgb(34, 34, 34);
              align-self: stretch;
                margin-top: 3.5vw;
                padding: 7% 0;
                .container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5% 15%;
                }
                .btn{
                    background: var(--clr-copper);
                    width:8rem;
                    text-align: center;
                    padding: .3rem 0;
                    border-radius: 999px;
                    font-weight: var(--fw-500);
                }
                .wrapper{
                    padding:0 15%;
                    color: var(--clr-white);
                    .header{
                        font-size: var(--fs-header);
                        font-weight: var(--fw-500);
                        line-height: var(--fs-header);
                    }
                    .lead{
                        padding-top: 5%;
                        font-size: var(--fs-md);
                        color: var(--clr-gray);
                    }
                }

          }
          .image{
              width: 50%;
              display: flex;
              justify-content: center;
              background: rgb(51, 51, 51);
              border-right: 1px solid silver;
              padding-bottom: 7%;

              img{
                  flex-grow: 0;
                  flex-basis: 1;
                  flex-shrink: 2;
                  width:75%;
                  transform: translateY(-2vw);
              }
              
          }
      }
      .ad{
          padding-top: 5%;
          img{
              width: 100vw;
          }
      }
  }
  .divider{
      display: flex;
      justify-content: center;
      .line{
      width:80vw;
      height: 1.5px;
      background: #ddd;
      text-align: center;
      margin-bottom: 5%;
      }
  }

.footer{
    padding: 0% 10%;
    display: flex;
    .social-icons{
        display: flex;
        flex-direction: column;
        width:25%;
        align-self: center;
        justify-content: center;
        .media{
            display: flex;
            justify-content: center;
            gap:10%;
            padding: 2% 0;
        }
        .logo{
            display: flex;
            justify-content: center;
        }
    }
    .container{
        width:75%;
        display: flex;
        flex-direction: column;
        .lead{
            font-size: calc(var(--fs-regular) + .5rem);
        }
        form{
            margin: 3% 0 5% 0;
            display: flex;
            input{
                width:80%;
                border: .08rem solid silver;
                padding: .8rem .8rem .8rem 1rem;
                border-top-left-radius: .5rem;
                border-bottom-left-radius: .5rem;
                font-size: var(--fs-regular);
                margin-bottom: 2%;
                font-weight: var(--fw-400);
                height: 3rem;

            }
            button{
                color: var(--clr-white);
                background: var(--clr-black);
                width:20%;
                padding:0rem !important;
                border: none;
                outline: none;
                font-size: .8rem;
                font-weight: var(--fw-700);
                height:3rem;
                border-top-right-radius: .5rem;
                border-bottom-right-radius: .5rem;
                text-transform: uppercase;
            }
        }
        .navigation{
            display: flex;
            gap:13%;
            a{
                color: var(--clr-black);
                display: block;
                font-weight: var(--fw-400);
                padding: 1rem 0;
                opacity: .8;
            }
            .title{
                padding-bottom: 25%;
                font-size:calc( var(--fs-md) + .4rem);
                font-weight: var(--fw-500);
                opacity: .8;
            }
        }
    }
}
//////////////////////////////////Breakpoints//////////////////////////////////
@media (max-width:920px) {
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button{
            
        }
        .navigation{
            flex-wrap: wrap;
            justify-content: center;
            .title{
                padding: 2% 0;
            }
            a{
                font-size: calc( var(--fs-sm) + .2rem) ;

            }
        }
        .container{
            width: 90vw !important;
        }

    }
}
@media (max-width: 760px) {
    .black{
        flex-wrap: wrap;
        .text,.image{
            width:100% !important;
        }
        .text{
            margin-top: 0 !important;
        }
    }
}