:root {
  --clr-green:#029f58;
  --clr-deep-green:#007640;
  --clr-white:#FFFF;
  --clr-black:#000;
  --clr-orange:#ffbb62;
  --clr-gray:gray;
  --clr-copper:#fe8b61;
  --clr-chat-bg:#f0f0e6;
  --ff:'DM Sans', sans-serif;
  --fw-700:700;
  --fw-500:500;
  --fw-400:400;
  --fs-sm:Clamp(.7rem, 1.3vw + 1rem, 1.3vw);
  --fs-xl:Clamp(4vw, 8.9vw + 1rem ,8.9vw);
  --fs-md:Clamp(.7rem, 1.4vw + 1rem ,1.45vw );
  --fs-lg:Clamp(3vw, 5vw + 1rem,5vw);
  --fs-regular:Clamp(.8rem,1.35vw + 1rem , 1.35vw);
  --fs-header:Clamp(2.44vw,4.88vw + 1rem, 4.88vw);
  --fs-btn:Clamp(.6vw, 1.2vw + 1rem, 1.2vw);
  --lg-w:Clamp(4vw, 8vw + 1rem ,8vw);
  --btn-img-w:Clamp(9vw,18vw + 1rem,18vw);
  --phones-w:Clamp(45vw,90vw + 1rem, 90vw);
  --h1-w:Min(90%,30rem);
  --p-w:Min(90%,40rem);
  --btn-w:Clamp(3rem, 7vw + 1rem,7vw)
;
}
@media (max-width:920px) {
  :root{
    --fs-sm:calc(Clamp(.7rem, 1.3vw + 1rem, 1.3vw) + .4rem);
    --fs-xl:calc(Clamp(4vw, 8.9vw + 1rem ,8.9vw) + .4rem);
    --fs-md:calc(Clamp(.7rem, 1.4vw + 1rem ,1.45vw ) + .4rem);
    --fs-lg:calc(Clamp(3vw, 5vw + 1rem,5vw) + .4rem);
    --fs-regular:calc(Clamp(.8rem,1.35vw + 1rem , 1.35vw) + .4rem);
    --fs-header:calc(Clamp(2.44vw,4.88vw + 1rem, 4.88vw) + .4rem);
    --fs-btn:calc(Clamp(.6vw, 1.2vw + 1rem, 1.2vw + .7rem));
    --lg-w:calc(Clamp(4vw, 8vw + 1rem ,8vw) + .4rem);
    --btn-img-w:calc(Clamp(9vw,18vw + 1rem,18vw) + .4rem);
    --phones-w:calc(Clamp(45vw,90vw + 1rem, 90vw) + .4rem);
    --btn-w:calc(Clamp(3rem, 7vw + 1rem,7vw) + .2rem)
  }

}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: var(--clr-black) !important;
  font-family: var(--ff) !important;
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  top: 0;
  padding: 2rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--clr-white);
  background: var(--clr-green);
  overflow-x: hidden !important;
}

nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

nav .nav-items :not(last-child) {
  text-transform: capitalize;
}

nav .nav-items li {
  margin-right: 3rem;
}

.logo {
  width: var(--lg-w);
}

a {
  text-decoration: none;
  color: var(--clr-white);
  font-weight: var(--fw-500);
  font-size: var(--fs-sm);
}

main {
  overflow-x: hidden !important;
}

main .hero {
  background: var(--clr-green);
  padding-top: 10%;
  width: 100vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .hero .header {
  padding-top: 5%;
  font-weight: var(--fw-700);
  font-size: var(--fs-xl);
  line-height: 8.8vw;
  color: var(--clr-white);
  word-spacing: 2px;
  letter-spacing: 0px !important;
}

main .hero .lead-container {
  color: var(--clr-white);
  padding: 3vw 0;
}

main .hero .lead-container .first {
  word-spacing: .4rem;
}

main .hero .lead-container .lead {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
}

main .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5vw 0rem;
  gap: 2rem;
}

main .download img {
  width: var(--btn-img-w);
  cursor: pointer;
}

main .image {
  margin-top: 3rem;
  overflow: hidden !important;
}

main .image .phones {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  width: var(--phones-w);
}

main .feature {
  background: var(--clr-white);
  padding: 10%;
  overflow: hidden;
}

main .feature h1 {
  font-size: var(--fs-lg);
  width: var(--h1-w);
  color: var(--clr-deep-green);
  line-height: 5vw;
  font-weight: var(--fw-500);
}

main .feature .lead {
  width: var(--p-w);
  padding-top: 2vw;
  color: var(--clr-gray);
  font-size: var(--fs-regular);
}

main .feature .container {
  position: relative;
  z-index: 1000;
}

main .feature .container .text {
  position: relative;
  z-index: 1000;
}

main .feature .container img {
  position: absolute;
}

main .feature .container .big {
  right: -7vw;
  top: -19vw;
  width: 30vw;
  overflow-y: hidden !important;
  z-index: -1;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

main .feature .container .small {
  left: -4.3vw;
  top: -6.2vw;
  width: 10.5vw;
}

main .fans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  padding: 5% 10% 10% 10%;
  background: var(--clr-white);
  width: 100%;
}

main .fans .container {
  width: 50%;
}

main .fans .btn {
  background: var(--clr-orange);
  width: var(--btn-w);
  text-align: center;
  border-radius: 2.5vw;
  text-transform: capitalize;
}

main .fans .btnText {
  font-size: var(--fs-btn);
  font-weight: var(--fw-500);
  padding: .4vw 0;
}

main .fans .header {
  font-size: var(--fs-header);
  padding-top: 2vw;
  font-weight: var(--fw-500);
  line-height: 5vw;
  opacity: .9;
}

main .fans .lead {
  padding-top: 5%;
  color: var(--clr-gray);
  font-size: var(--fs-md);
}

main .fans .influencer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .fans .influencer img {
  width: 29vw;
}

main .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  background: var(--clr-white);
}

main .chat .text {
  padding: 8%;
  width: 50%;
  background: var(--clr-green);
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

main .chat .text .btn {
  background: var(--clr-orange);
  width: var(--btn-w);
  text-align: center;
  border-radius: 2.5vw;
  text-transform: capitalize;
}

main .chat .text .btnText {
  font-size: var(--fs-btn);
  font-weight: var(--fw-500);
  padding: .4vw 0;
}

main .chat .text .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .chat .text .wrapper img {
  width: calc(4.5vw + .9rem);
}
main .filter img {
  width: calc(4.5vw + .9rem);
}
main .chat .text .container {
  padding-top: 7%;
  color: var(--clr-white);
}

main .chat .text .container h1 {
  font-size: var(--fs-header);
  font-weight: var(--fw-500);
  line-height: var(--fs-header);
}

main .chat .text .container .lead {
  padding-top: 5%;
  font-size: var(--fs-md);
}

main .chat .chat-area {
  width: 50%;
  background: var(--clr-chat-bg);
}

main .chat .chat-area .center {
  padding: 2% 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vw;
  margin-left: 5%;
}

main .chat .chat-area .center img {
  width: 80%;
  -webkit-transform: translateY(-1vw);
          transform: translateY(-1vw);
}

main .chat .chat-area .center .first {
  width: 27vw;
  padding: .5vw 1vw;
  background: var(--clr-white);
  font-size: var(--fs-regular);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: 2vw;
}

main .chat .chat-area .center .first small {
  font-size: .9vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: absolute;
  top: 5vw;
}

main .chat .chat-area .center .second {
  width: 16vw;
  padding: 1vw;
  background: var(--clr-white);
  font-size: var(--fs-regular);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  margin: 1.5vw 0;
}

main .chat .chat-area .center .second small {
  font-size: .9vw;
}

main .chat .chat-area .center .third {
  width: 25vw;
  padding: 1vw;
  background: var(--clr-white);
  font-size: var(--fs-regular);
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  margin: 1.5vw 0;
}

main .chat .chat-area .center .third small {
  font-size: .9vw;
}

main .chat .chat-area .input {
  background: var(--clr-white);
  margin-top: 5%;
  padding: 2%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10%;
  -webkit-transform: translateY(2vw);
          transform: translateY(2vw);
}

main .chat .chat-area .input .container {
  width: 90%;
  background: #eee;
  padding: 3%;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .chat .chat-area .input .container .clip1 {
  opacity: .7;
  margin-right: .7rem;
}

main .chat .chat-area .input img {
  width: 2vw;
  -webkit-transform: translateY(0.05vw);
          transform: translateY(0.05vw);
}

main .chat .chat-area .input .send {
  margin-left: .4rem;
}

main .influencers {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .influencers .image {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* main .influencers .image img{
  width:80%
} */

main .influencers .text {
  width: 50%;
}

main .influencers .text .btn {
  background: var(--clr-copper);
  width:8rem;
  text-align: center;
  padding: .3rem 0;
  border-radius: 999px;
  font-weight: var(--fw-500);
}

main .influencers .text .header {
  font-size: var(--fs-header);
  font-weight: var(--fw-500);
  line-height: var(--fs-header);
  width: 70%;
  padding-top: 6%;
}

main .influencers .text .lead {
  font-size: var(--fs-md);
  width: 70%;
  color: var(--clr-gray);
  padding-top: 5%;
}
main .influencers .image img{
  width: 60%;
}

@media (max-width:420px) {
  main .hero .lead-container .lead{
    font-size: calc(var(--fs-md) + .08rem) !important;
  }
  nav{
    flex-direction: column;
  }
  nav .logo{
    width: calc(var(--lg-w) + 1rem);
  }
  main .hero{
    padding-top: 20%;
  }
}

@media (max-width: 760px) {
  
  .download img{
    width: calc(var(--btn-img-w) + 4rem) !important;
  }
  
  .btnText{
    font-size: calc(var(--fs-btn) + .3rem) !important;
  }
  .lead{
    font-size: calc(var(--fs-md) + .3rem) !important;
  }
  
  main .chat .chat-area .center{
    margin-left: 0%;
  }
  nav .nav-items li {
    margin-right: 2rem;
  }
  main .influencers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .influencers .image, main .influencers .text {
    width: 100%;
  }
  main .influencers .image img{
    width:60vw
  }
  main .influencers .text{
    padding:5%
  }
  main .fans {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
  main .fans .container {
    width: 100%;
  }
  main .fans .influencer {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .fans .influencer img {
    width: 50vw;
  }
  main .chat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .chat .text, main .chat .chat-area {
    width: 100%;
  }
  main .chat .chat-area .center img {
    width: 80vw;
  }
  main .chat .chat-area .center .first, main .chat .chat-area .center .second, main .chat .chat-area .center .third {
    width: 60vw;
    margin: 5% 0;
  }
  main .chat .chat-area .center .first small, main .chat .chat-area .center .second small, main .chat .chat-area .center .third small {
    font-size: 1.3vw;
  }
  main .chat .chat-area .center .first {
    margin-left: 20vw;
    padding: 3%;
  }
  main .chat .chat-area .center .first small {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  main .chat .chat-area .input {
    width: 80vw;
  }
  main .chat .chat-area .input img {
    width: 3vw;
    -webkit-transform: translateY(0.05vw);
            transform: translateY(0.05vw);
  }
}

@media (max-width: 675px) {
  nav {
    padding: 1rem;
  }
  nav .nav-items li {
    margin-right: 1rem;
  }
}